MONGODB_URI=mongodb://mongo/callfeedback
MONGODB_DB=callfeedback
ALLOWED_ORIGINS=http://localhost:8000,http://10.0.2.2,http://dragon.wag.org.in
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
API_KEY=your_api_key
READ_API_KEY=your_read_api_key